.editPostAxios .header .btn-back {
  align-self: center;
  background: #e17055;
  border: 1px solid #e17055;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #FFF;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.editPostAxios .editPostAxios-content {
  margin-top: 20px;
}

.editPostAxios .editPostAxios-content .group-form {
  margin-bottom: 10px;
}

.editPostAxios .editPostAxios-content .group-form .label {
  display: block;
  margin-bottom: 6px;
}

.editPostAxios .editPostAxios-content .control-form {
  width: 90%;
  margin-left: 20px;
  font-size: 13px;
  line-height: 13px;
  border: none;
  padding: 6px 0 6px 6px;
  box-shadow: 0px 0px 1px 1px #DDD;
}

.editPostAxios .editPostAxios-content textarea {
  height: 100px;
}

.editPostAxios .editPostAxios-content .btn-edit {
  background: #28a745;
  border: 1px solid #28a745;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #FFF;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
}
