.postsAxios  .btn-new {
    align-self: center;
    background: #e17055;
    border: 1px solid #e17055;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.postsAxios .search-bar label{
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.postsAxios .search-bar input{
    margin-left: 10px;
    font-size: 15px;
    line-height: 15px;
    padding: 4px 0 4px 8px;
    border: none;
    box-shadow: 0 0 1px 1px #ddd;
    outline: none;
}

.postsAxios .search-bar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.postsAxios .navigate {
   align-self : center;
}

.postsAxios .navigate .navigation{
    margin-left: 8px;
    padding: 0 5px;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
}
.postsAxios .postsAxios-content {
    margin-top: 10px;
}



.postsAxios .postsAxios-content table {
    width: 100%;
    text-align: center;
}

.postsAxios .postsAxios-content table thead{
    background: #e17055;
    color: #000;
}

.postsAxios .postsAxios-content table thead th{
    padding: 3px 0;
}

.postsAxios .postsAxios-content table tbody tr{
    background: #f5f6fa;
    font-size: 16px;
    line-height: 16px;
}

.postsAxios .postsAxios-content table tbody td{
    padding: 5px 0;
}

.postsAxios .postsAxios-content table tbody .btn-show {
    background: #17a2b8;
    border: 1px solid #17a2b8;
    margin: 0 5px;
    font-size: 15px;
    line-height: 15px;
    padding: 0px 5px;
    font-weight: 500;
    color: #FFF;
    text-decoration:none
}

.postsAxios .postsAxios-content table tbody .btn-edit {
    background: #28a745;
    border: 1px solid #28a745;
    margin: 0 5px;
    font-size: 15px;
    line-height: 15px;
    padding: 0px 5px;
    font-weight: 500;
    color: #FFF;
    text-decoration:none
}



.no-post{
    color: red;
    font-weight: bolder;
    letter-spacing: 2px;
}
